[
	{ rabbit, [
		{ loopback_users, [ ] },
		{ tcp_listeners, [{"::", 5672}] },
		{ ssl_listeners, [ ] },
		{ hipe_compile, false },
		{tcp_listen_options, [
                     {reuseaddr, true},
                     {backlog, 128},
                     {nodelay, true},
                     {exit_on_close, false},
                     {keepalive, true}]}
	] },
	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] }
].
